<!doctype html>
<html class="no-js" lang="fr">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr css -->
</head>

<body>
    <!-- page container area start -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <h4 class="page-title pull-left">Dashboard</h4>
                </div>
            </div>
            <!-- header area end -->
            <div class="main-content-inner">
                <!-- sales report area start -->
                <div class="sales-report-area mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-report mb-xs-30">
                                <div class="s-report-inner pr--20 pt--30 mb-3">
                                    <div class="s-report-title d-flex justify-content-between">
                                        <h4 class="header-title mb-0">Température</h4>
                                        <h4 class="header-title mb-0">{{lastData.temperature}}</h4>
                                    </div>
                                </div>
                                <canvas id="coin_sales1" height="25"></canvas>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-report mb-xs-30">
                                <div class="s-report-inner pr--20 pt--30 mb-3">
                                    <div class="s-report-title d-flex justify-content-between">
                                        <h4 class="header-title mb-0">Lumière</h4>
                                        <h4 class="header-title mb-0">{{lastData.lumiere}}</h4>
                                    </div>
                                </div>
                                <canvas id="coin_sales2" height="25"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-report">
                                <div class="s-report-inner pr--20 pt--30 mb-3">
                                    <div class="s-report-title d-flex justify-content-between">
                                        <h4 class="header-title mb-0">Humidité</h4>
                                        <h4 class="header-title mb-0">{{lastData.humidite}}</h4>
                                    </div>
                                </div>
                                <canvas id="coin_sales3" height="25"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-report">
                            <div class="s-report-inner pr--20 pt--30 mb-3">
                                <div class="s-report-title d-flex justify-content-between">
                                    <h4 class="header-title mb-0">Altitude</h4>
                                    <h4 class="header-title mb-0">{{lastData.altitude}}</h4>
                                </div>
                            </div>
                            <canvas id="coin_sales4" height="25"></canvas>
                        </div>
                    </div>
                </div>
                </div>
                <!-- sales report area end -->

                <!-- row area start-->
            </div>
        </div>
        <!-- main content area end -->
   
    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script >
        /*--------------  coin_sales1 start ------------*/
if ($('#coin_sales1').length) {
    var ctx = document.getElementById("coin_sales1").getContext('2d');
    var toto  = {{ lastData.humidite }}
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{date_times}},
            datasets: [{
                label: "Sales",
                backgroundColor: "rgba(117, 19, 246, 0.1)",
                borderColor: '#0b76b6',
                data: {{temperatures}},
            }]
        },
        // Configuration options go here
        options: {
            legend: {
                display: false
            },
            animation: {
                easing: "easeInOutBack"
            },
            scales: {
                yAxes: [{
                    display: !1,
                    ticks: {
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold",
                        beginAtZero: !0,
                        maxTicksLimit: 5,
                        padding: 0
                    },
                    gridLines: {
                        drawTicks: !1,
                        display: !1
                    }
                }],
                xAxes: [{
                    display: !1,
                    gridLines: {
                        zeroLineColor: "transparent"
                    },
                    ticks: {
                        padding: 0,
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold"
                    }
                }]
            }
        }
    });
}
/*--------------  coin_sales1 End ------------*/

/*--------------  coin_sales2 start ------------*/
if ($('#coin_sales2').length) {
    var ctx = document.getElementById("coin_sales2").getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{date_times}},
            datasets: [{
                label: "Sales",
                backgroundColor: "rgba(240, 180, 26, 0.1)",
                borderColor: '#F0B41A',
                data: {{lumiere}},
            }]
        },
        // Configuration options go here
        options: {
            legend: {
                display: false
            },
            animation: {
                easing: "easeInOutBack"
            },
            scales: {
                yAxes: [{
                    display: !1,
                    ticks: {
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold",
                        beginAtZero: !0,
                        maxTicksLimit: 5,
                        padding: 0
                    },
                    gridLines: {
                        drawTicks: !1,
                        display: !1
                    }
                }],
                xAxes: [{
                    display: !1,
                    gridLines: {
                        zeroLineColor: "transparent"
                    },
                    ticks: {
                        padding: 0,
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold"
                    }
                }]
            }
        }
    });
}
/*--------------  coin_sales2 End ------------*/

/*--------------  coin_sales3 start ------------*/
if ($('#coin_sales3').length) {
    var ctx = document.getElementById("coin_sales3").getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{date_times}},
            datasets: [{
                label: "Sales",
                backgroundColor: "rgba(247, 163, 58, 0.1)",
                borderColor: '#fd9d24',
                fill: true,
                data: {{humidite}},
            }]
        },
        // Configuration options go here
        options: {
            legend: {
                display: false
            },
            animation: {
                easing: "easeInOutBack"
            },
            scales: {
                yAxes: [{
                    display: !1,
                    ticks: {
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold",
                        beginAtZero: !0,
                        maxTicksLimit: 5,
                        padding: 0
                    },
                    gridLines: {
                        drawTicks: !1,
                        display: !1
                    }
                }],
                xAxes: [{
                    display: !1,
                    gridLines: {
                        zeroLineColor: "transparent"
                    },
                    ticks: {
                        padding: 0,
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold"
                    }
                }]
            }
        }
    });
}

/*--------------  coin_sales4 start ------------*/
if ($('#coin_sales4').length) {
    var ctx = document.getElementById("coin_sales4").getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: {{date_times}},
            datasets: [{
                label: "Sales",
                backgroundColor: "rgba(247, 163, 58, 0.1)",
                borderColor: '#aa9d24',
                fill: true,
                data: {{altitude}},
            }]
        },
        // Configuration options go here
        options: {
            legend: {
                display: false
            },
            animation: {
                easing: "easeInOutBack"
            },
            scales: {
                yAxes: [{
                    display: !1,
                    ticks: {
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold",
                        beginAtZero: !0,
                        maxTicksLimit: 5,
                        padding: 0
                    },
                    gridLines: {
                        drawTicks: !1,
                        display: !1
                    }
                }],
                xAxes: [{
                    display: !1,
                    gridLines: {
                        zeroLineColor: "transparent"
                    },
                    ticks: {
                        padding: 0,
                        fontColor: "rgba(0,0,0,0.5)",
                        fontStyle: "bold"
                    }
                }]
            }
        }
    });
}

/*-------------- 11 line chart amchart end ------------*/
    </script>
</body>

</html>
